__pycache__/*
**/__pycache__/*
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
.coverage
cache.sqlite
cc.en.300.bin.gz.part
ft_database.db
test_history.csv
training_history.csv
.vscode/settings.json
trading/data/wsbData.json
